body {
  width: 100%;
  padding-top: 100px;
}

/* body {
  padding-top: 100px;
  background-color: #2d2d2d;
} */

.items {
  color: #9facbd;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  padding-top: 10px;
  padding-bottom: 0px;
  letter-spacing: 0.025em;
  font-size: 16px;
}

.items:hover {
  color: greenyellow;
  text-decoration: none;
  font-size: larger;
}

.bottomBorder {
  border-bottom: lightgrey dotted 1px;
}

.itemsBanner {
  color: #9facbd;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 0.025em;
  font-size: 20px;
}

.itemsBanner:hover {
  color: greenyellow;
  text-decoration: none;
  font-size: larger;
}

.responsive {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 400px;
  height: auto;
}

.list {
  list-style: none;
}

/* @media screen and (max-width: 992px) {
  .nav-col {
    background-color: dodgerblue !important;
  }
} */

.nav-col {
  background-color: rgb(33, 37, 41, 0.98);
}

.foot-col {
  background-color: rgb(33, 37, 41, 0.98);
}
